.photo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(282px, 282px));
    column-gap: 17px;
    row-gap: 20px;
    padding-top: 50px;
}

@media screen and (max-width:880px) {
    .photo-grid {
        justify-content: center;
    }
}

@media screen and (max-width:426px) {
    .photo-grid {
        padding-top: 36px;
    }
}