.popup__close-button {
    width: 32px;
    height: 32px;
    border: none;
    padding: 0;
    background-image: url(../../../images/close_Icon.png);
    background-position: center;
    background-color: #000000;
    position: absolute;
    right: -36px;
    top: -36px;
}

.popup__close-button:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (max-width: 536px) {
    .popup__close-button {
        width: 20px;
        height: 20px;
        right: 0;
        top: -45px; 
    }
}
