.popup__close-button {
    min-width: 32px;
    min-height: 32px;
    padding: 0;
    background-image: url(../../../images/close_Icon.png);
    background-size: 32px;
    background-position: center;
    background-color: #000000;
    position: absolute;
    right: -41px;
    top: -38px;
}

.popup__close-button:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (max-width: 536px) {
    .popup__close-button {
        min-width: 20px;
        min-height: 20px;
        right: 0;
        top: -55px; 
    }
}

